---
import { EmbeeBanner } from "@components/embee-banner";
import { LinkDetail } from "@components/link-detail";
import { SectionPage } from "@components/section-page";
import { Image } from "astro:assets";
---

<SectionPage styleInline="gap: 40px">
  <h2>Continua apoyandonos para seguir creciendo juntos 🚀</h2>
  <EmbeeBanner
    url="https://streamlabs.com/embeejayz/tip"
    lettersUrl="letters/donations.png"
    name="donations"
    color="linear-gradient(-180deg, #04c589, #00805d 40%, #00654b 90%)"
  >
    <Image
      class="embee-img"
      src="/images/embee-money.png"
      alt="Embee Money"
      height={180}
      width={180}
    />
  </EmbeeBanner>
  <LinkDetail
    icon={"patreon.svg"}
    name={"Patreon"}
    url="https://www.patreon.com/embeejayz"
    color="#000"
    negativeColor="#fff"
  />
</SectionPage>

<style>
  h2 {
    font-size: 24px;
    margin-bottom: 65px;
  }

  .embee-img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-45px, 0);
  }
</style>
