---
import { EmbeeBanner } from "@components/embee-banner";
import { SectionPage } from "@components/section-page";
import { Image } from "astro:assets";
---

<SectionPage styleInline="gap: 100px">
  <h2>Continua apoyandonos para seguir creciendo juntos 🚀</h2>
  <EmbeeBanner
    url="https://streamlabs.com/embeejayz/tip"
    lettersUrl="https://embee-org.github.io/embee-statics/letters/donations.png"
    name="donations"
    color="linear-gradient(-180deg, #04c589, #00805d 40%, #00654b 90%)"
  >
    <Image
      class="embee-img"
      src="https://embee-org.github.io/embee-statics/images/embee/money.png"
      alt="Embee Money"
      height={180}
      width={180}
    />
  </EmbeeBanner>
  <EmbeeBanner
    url="https://www.patreon.com/embeejayz"
    lettersUrl="https://embee-org.github.io/embee-statics/letters/patreon.png"
    name="patreon"
    color="linear-gradient(-180deg, #ff6854, #e5341d 90%)"
  >
    <Image
      class="embee-patreon"
      src="https://embee-org.github.io/embee-statics/images/embee/sub.png"
      alt="Embee Patreon"
      height={180}
      width={180}
    />
  </EmbeeBanner>
</SectionPage>

<style>
  h2 {
    font-size: 24px;
  }

  .embee-img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-45px, 0);
  }

  .embee-patreon {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-55px, 0);
  }

  @media (max-width: 500px) {
    .embee-img {
      height: 150%;
      width: 35%;
    }

    .embee-patreon {
      height: 150%;
      width: 32%;
    }
  }
</style>
