---
import { SelectTheme } from "@components/select-theme";
---

<div class="select-theme-container">
  <SelectTheme />
</div>

<style>
  .select-theme-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-inline: 55px;
    width: 100%;
  }
</style>
