---
import { BaseLayout } from "@layouts/base-layout";
import { Image } from "astro:assets";
---

<BaseLayout title="Página no encontrada">
  <audio controls preload="auto" autoplay loop>
    <source src="/mp3/alistar-vaquita.mp3" type="audio/mpeg" />
  </audio>
  <main>
    <article>
      <h3>404</h3>
      <h1>Página no encontrada</h1>
      <p>
        No pudimos encontrar la página que busca, intentelo en otro momento.
      </p>
      <a href="/">Ir al inicio</a>
      <Image
        class="alistar-vaquita"
        src="/gifs/alistar-vaquita.gif"
        height={100}
        width={100}
        alt="Shaco image"
      />
    </article>
  </main>
</BaseLayout>

<style>
  main {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap: 45px;
    height: 100%;
    width: 100%;
  }
  article {
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    padding: 20px;
  }

  article h3 {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    transform: scaleX(2);
  }

  a {
    background-color: var(--primary);
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 600;
    transition: 200ms ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }

  h1 {
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    width: 100%;
  }

  p {
    text-align: center;
    font-size: 16px;
    width: 100%;
  }

  .alistar-vaquita {
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    left: 25px;
  }
</style>
