---
import { AvatarUser } from "@components/avatar-user";
import { FloatIcon } from "@components/float-icon";
---

<div class="avatar-container">
  <FloatIcon
    url="https://embee-org.github.io/embee-statics/logos/skt-t1.png"
    left="80px"
    top="35px"
    width={95}
    height={60}
    color="var(--primary)"
  />
  <FloatIcon
    url="https://embee-org.github.io/embee-statics/images/star.png"
    left="80px"
    top="120px"
    width={15}
    height={15}
    color="#FEB424ff"
  />
  <FloatIcon
    url="https://embee-org.github.io/embee-statics/images/star.png"
    left="115px"
    top="120px"
    width={15}
    height={15}
    color="#FEB424ff"
  />
  <FloatIcon
    url="https://embee-org.github.io/embee-statics/images/star.png"
    left="150px"
    top="120px"
    width={15}
    height={15}
    color="#FEB424ff"
  />
  <AvatarUser />
  <FloatIcon
    color="var(--primary)"
    url="https://embee-org.github.io/embee-statics/logos/t1.png"
    right="80px"
    top="35px"
    width={95}
    height={60}
  />
  <FloatIcon
    url="https://embee-org.github.io/embee-statics/images/star.png"
    right="130px"
    top="120px"
    width={15}
    height={15}
    color="#FEB424ff"
  />
  <FloatIcon
    url="https://embee-org.github.io/embee-statics/images/star.png"
    right="100px"
    top="120px"
    width={15}
    height={15}
    color="#FEB424ff"
  />
</div>

<style>
  .avatar-container {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
</style>
